name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  schedule:
    - cron: "0 0 * * *"
jobs:
  React:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: yarn

      - name: Run React tests
        run: yarn test:ci
